In [1]:
import pandas as pd
import numpy as np

In [2]:
ipl= pd.read_csv('C:/Users/anike/OneDrive/Desktop/Learning Pandas/Datasets/Session-19/deliveries.csv')

In [6]:
ipl.sample()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
158431,7927,2,Mumbai Indians,Kings XI Punjab,6,2,AS Yadav,E Lewis,M Ur Rahman,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

1. Find the top 10 batsman in terms of runs.

In [5]:
batter= ipl.groupby('batsman')
batter['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64

2. FInd the batsman with max no of sixes

In [15]:
six=ipl[ipl['batsman_runs']==6]
six.groupby('batsman')['batsman'].count().sort_values(ascending=False).head(1)

batsman
CH Gayle    327
Name: batsman, dtype: int64

3. Find the batsman with most number of 4's and 6's in last 5 overs.

In [22]:
temp_df= ipl[ipl['over']>15]
temp_df[(temp_df['batsman_runs']==4) | (temp_df['batsman_runs']==6)]
temp_df.groupby('batsman')['batsman'].count().sort_values(ascending=False)

batsman
MS Dhoni          1548
KA Pollard         967
RG Sharma          818
YK Pathan          732
RA Jadeja          707
                  ...
DT Patil             1
DP Vijaykumar        1
YA Abdulla           1
Sunny Gupta          1
V Pratap Singh       1
Name: batsman, Length: 465, dtype: int64

4. Find V kohli record against all teams.

In [25]:
vk= ipl[ipl['batsman']=='V Kohli']
vk_runs= vk.groupby('bowling_team')
vk_runs.sum()['batsman_runs']

bowling_team
Chennai Super Kings        749
Deccan Chargers            306
Delhi Capitals              66
Delhi Daredevils           763
Gujarat Lions              283
Kings XI Punjab            636
Kochi Tuskers Kerala        50
Kolkata Knight Riders      675
Mumbai Indians             628
Pune Warriors              128
Rajasthan Royals           370
Rising Pune Supergiant      83
Rising Pune Supergiants    188
Sunrisers Hyderabad        509
Name: batsman_runs, dtype: int64

In [26]:
def best_score(name):
    name= ipl[ipl['batsman']==name]
    name_runs= name.groupby('match_id')
    score= name_runs.sum()['batsman_runs']
    return score.max()

In [28]:
best_score('MS Dhoni')

np.int64(89)