# Series Using pd.read_csv():
- Used to read tabular data(DataFrame)
- It can be used to create a Series by using df[] method
- Use df.columns() to check available column names

In [2]:
import pandas as pd
import numpy as np

## For dataframes with one column

In [9]:
pd.read_csv('C:/Users/anike/OneDrive/Desktop/Learning Pandas/Datasets/Session-16/subs.csv') #returms a dataframe

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [17]:
df = pd.read_csv('C:/Users/anike/OneDrive/Desktop/Learning Pandas/Datasets/Session-16/subs.csv')
s= df['Subscribers gained']
s

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [20]:
df.columns

Index(['Subscribers gained'], dtype='object')

# NOTE: 'squeeze= True' method is now depriciated

---

## For dataframes with two columns:
- in pd.read_csv() specify the index_col=''

In [24]:
df=pd.read_csv('C:/Users/anike/OneDrive/Desktop/Learning Pandas/Datasets/Session-16/kohli_ipl.csv', index_col='match_no')
s=df['runs']
s

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [26]:
df= pd.read_csv('C:/Users/anike/OneDrive/Desktop/Learning Pandas/Datasets/Session-16/bollywood.csv', index_col= 'movie')
s= df['lead']
s

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object