In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv('C:/Users/anike/OneDrive/Desktop/Learning Pandas/Datasets/Session-17/ipl-matches.csv')
ipl= pd.DataFrame(df)
df= pd.read_csv('C:/Users/anike/OneDrive/Desktop/Learning Pandas/Datasets/Session-17/movies.csv')
movies= pd.DataFrame(df)

# Filtering a Dataframe:
1. Find all the winners season wise

In [3]:
mask=ipl['MatchNumber']== 'Final'
new_df= ipl[mask]
new_df= new_df[['Season','WinningTeam']]
new_df

      Season            WinningTeam
0       2022         Gujarat Titans
74      2021    Chennai Super Kings
134  2020/21         Mumbai Indians
194     2019         Mumbai Indians
254     2018    Chennai Super Kings
314     2017         Mumbai Indians
373     2016    Sunrisers Hyderabad
433     2015         Mumbai Indians
492     2014  Kolkata Knight Riders
552     2013         Mumbai Indians
628     2012  Kolkata Knight Riders
702     2011    Chennai Super Kings
775  2009/10    Chennai Super Kings
835     2009        Deccan Chargers
892  2007/08       Rajasthan Royals

In [4]:
ipl[ipl['MatchNumber']== 'Final'][['Season','WinningTeam']] #in one line

      Season            WinningTeam
0       2022         Gujarat Titans
74      2021    Chennai Super Kings
134  2020/21         Mumbai Indians
194     2019         Mumbai Indians
254     2018    Chennai Super Kings
314     2017         Mumbai Indians
373     2016    Sunrisers Hyderabad
433     2015         Mumbai Indians
492     2014  Kolkata Knight Riders
552     2013         Mumbai Indians
628     2012  Kolkata Knight Riders
702     2011    Chennai Super Kings
775  2009/10    Chennai Super Kings
835     2009        Deccan Chargers
892  2007/08       Rajasthan Royals

2. How many super over finishes occurred?

In [10]:
ipl[ipl['SuperOver']=='Y'].shape[0] #count of matches with Super Over`

14

3. How many matches csk won in kolkata?

In [32]:
ipl[(ipl['City']=='Kolkata') & (ipl['WinningTeam']=='Chennai Super Kings')].shape[0] #csk won in kolkata

5

4. Toss Winner is Match winner in percentage.

In [40]:
ipl[ipl['WinningTeam']== ipl['TossWinner']].shape[0]/ ipl.shape[0] * 100 #Toss Winner is Match winner in percentage

51.473684210526315

5. movies with rating greater than 8 and votes>10000

In [42]:
movies.head(1)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)

In [46]:
movies[(movies['imdb_rating']>8) & (movies['imdb_votes']>10000)].shape[0] #count of movies with imdb rating > 8 and votes > 10000

43

6. Action movies with rating higher than 7.5.

In [49]:
mask1= movies['genres'].str.split('|').apply(lambda x: 'Action' in x)
mask2= movies['imdb_rating']> 7.5
movies[mask1 & mask2].shape[0] #count of action movies with imdb rating > 7.5

33