In [2]:
import pandas as pd
import numpy as np

---

Series is 1D and Dataframes are 2D objects
- But why?--> Because we need two piece of information to fetch a any value in df and one in series

---

# **Multiple Indexing:**
## **Creating multiple Indices:**
- **Method 1:**

In [3]:
index_val=[('cse',2019),('cse',2020),('cse',2021),('cse',2022),('ece',2019),('ece',2020),('ece',2021),('ece',2022)]
a= pd.Series([1,2,3,4,5,6,7,8],index=index_val)
a

(cse, 2019)    1
(cse, 2020)    2
(cse, 2021)    3
(cse, 2022)    4
(ece, 2019)    5
(ece, 2020)    6
(ece, 2021)    7
(ece, 2022)    8
dtype: int64

The Problem:

In [4]:
a['cse'] #this will throw an error

KeyError: 'cse'

---

## **Method 2:** Using a multiIndex object.
### How to create a Multi index object:
1. pd.MultiIndex.from_tuples()

In [6]:
index_val= [('cse',2019),('cse',2020),('cse',2021),('cse',2022),('ece',2019),('ece',2020),('ece',2021),('ece',2022)]
multi_idx= pd.MultiIndex.from_tuples(index_val)
multi_idx

MultiIndex([('cse', 2019),
            ('cse', 2020),
            ('cse', 2021),
            ('cse', 2022),
            ('ece', 2019),
            ('ece', 2020),
            ('ece', 2021),
            ('ece', 2022)],
           )

In [7]:
print(multi_idx.levels[0])
print(multi_idx.levels[1])

Index(['cse', 'ece'], dtype='object')
Index([2019, 2020, 2021, 2022], dtype='int64')

---

2. pd.MultiIndex.from_product()

In [8]:
pd.MultiIndex.from_product([['cse','ece'],[2019,2020,2021,2022]])

MultiIndex([('cse', 2019),
            ('cse', 2020),
            ('cse', 2021),
            ('cse', 2022),
            ('ece', 2019),
            ('ece', 2020),
            ('ece', 2021),
            ('ece', 2022)],
           )

---

# **Creating a multiIndex Series:**

In [9]:
s=pd.Series([1,2,3,4,5,6,7,8], index= multi_idx)
s

cse  2019    1
     2020    2
     2021    3
     2022    4
ece  2019    5
     2020    6
     2021    7
     2022    8
dtype: int64

---

### Fetching items from a multiIndex series:

In [10]:
s[('cse',2022)]

np.int64(4)

In [11]:
s['cse']

2019    1
2020    2
2021    3
2022    4
dtype: int64

---

**NOTE**
- a multiIndex series is **NOT** an 1D object for e.g. the above seies 's' is a **2d series** and hence can also be represented as a dataframe as shown ahead.

---

### unstack() and stack():

In [12]:
print(s.unstack()) #converts the innermost level of the index to columns
print(type(s.unstack())) #this will return a dataframe

     2019  2020  2021  2022
cse     1     2     3     4
ece     5     6     7     8
<class 'pandas.core.frame.DataFrame'>

In [13]:
temp= s.unstack()

In [14]:
temp.stack() #converts the columns to innermost level of the index

cse  2019    1
     2020    2
     2021    3
     2022    4
ece  2019    5
     2020    6
     2021    7
     2022    8
dtype: int64

---

Why to use MultiIndex series?
- Because it allows us to represent high dimensions data like 10D 0r 25D data into dataframe i.e. 2D data

---

# **Creating a multiIndex Dataframe:**

In [15]:
branch_df1= pd.DataFrame([
    ['1','2'],
    ['3','4'],
    ['5','6'],
    ['7','8'],
    ['9','10'],
    ['11','12'],
    ['13','14'],
    ['15','16']
], index=multi_idx, columns= ['avg_package', 'students'])
branch_df1

         avg_package students
cse 2019           1        2
    2020           3        4
    2021           5        6
    2022           7        8
ece 2019           9       10
    2020          11       12
    2021          13       14
    2022          15       16

- the above dataframe is a 3D information represented into a 2D dataframe

In [17]:
branch_df1.loc['cse'] #fetching an index in multiindex dataframe

     avg_package students
2019           1        2
2020           3        4
2021           5        6
2022           7        8

In [18]:
branch_df1['avg_package'] #fetching a column in multiindex dataframe

cse  2019     1
     2020     3
     2021     5
     2022     7
ece  2019     9
     2020    11
     2021    13
     2022    15
Name: avg_package, dtype: object

---

### Are columns really **Different** from index?
- No, pandas treat columns and index as the same so, multi indexing can also be performed on coluns as shown

In [ ]:
branch_df2= pd.DataFrame(
    [
        ['1','2','0','0'],
        ['3','4','0','0'],
        ['5','6','0','0'],
        ['7','8','0','0']
    ],
    index= ['2019','2020','2021','2022'],
    columns=pd.MultiIndex.from_product([['delhi', 'mumbai'],['avg_package', 'students']]) # passing a multiindex object as columns
)
branch_df2 # a 3D data represented as a 2D dataframe

           delhi               mumbai
     avg_package students avg_package students
2019           1        2           0        0
2020           3        4           0        0
2021           5        6           0        0
2022           7        8           0        0

In [23]:
branch_df2['delhi']['avg_package'] #fetching a column in multiindex dataframe

2019    1
2020    3
2021    5
2022    7
Name: avg_package, dtype: object

---

## Creating a dataframe with **both index and columns** as **multiindex** objects

In [26]:
branch_df3= pd.DataFrame(
    [
        ['1','2','0','0'],
        ['3','4','0','0'],
        ['5','6','0','0'],
        ['7','8','0','0'],
        ['9','10','0','0'],
        ['11','12','0','0'],
        ['13','14','0','0'],
        ['15','16','0','0']
    ],
    index= multi_idx, # using a multiindex object as index
    columns=pd.MultiIndex.from_product([['delhi', 'mumbai'],['avg_package', 'students']]) # passing a multiindex object as columns
)
branch_df3

               delhi               mumbai
         avg_package students avg_package students
cse 2019           1        2           0        0
    2020           3        4           0        0
    2021           5        6           0        0
    2022           7        8           0        0
ece 2019           9       10           0        0
    2020          11       12           0        0
    2021          13       14           0        0
    2022          15       16           0        0

---

## Stacking and Unstacking:

### **Unstacking:**

In [28]:
branch_df1.unstack() #converts the innermost level of the index to columns

    avg_package                students
           2019 2020 2021 2022     2019 2020 2021 2022
cse           1    3    5    7        2    4    6    8
ece           9   11   13   15       10   12   14   16

In [30]:
branch_df1.unstack().unstack() #again converts the innermost level indexing to columns
#Now it is no longer a df but a series with multiindex

avg_package  2019  cse     1
                   ece     9
             2020  cse     3
                   ece    11
             2021  cse     5
                   ece    13
             2022  cse     7
                   ece    15
students     2019  cse     2
                   ece    10
             2020  cse     4
                   ece    12
             2021  cse     6
                   ece    14
             2022  cse     8
                   ece    16
dtype: object

### **Stacking:**

In [31]:
branch_df1.unstack().stack() #Converts the innermost columns to innermost index

C:\Users\anike\AppData\Local\Temp\ipykernel_20908\290685592.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  branch_df1.unstack().stack() #Converts the innermost columns to innermost index

         avg_package students
cse 2019           1        2
    2020           3        4
    2021           5        6
    2022           7        8
ece 2019           9       10
    2020          11       12
    2021          13       14
    2022          15       16

In [33]:
branch_df1.unstack().stack().stack() #Converts the innermost columns to innermost index again
# Now it is no longer a df but a series with multiindex

C:\Users\anike\AppData\Local\Temp\ipykernel_20908\1788888824.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  branch_df1.unstack().stack().stack() #Converts the innermost columns to innermost index again

cse  2019  avg_package     1
           students        2
     2020  avg_package     3
           students        4
     2021  avg_package     5
           students        6
     2022  avg_package     7
           students        8
ece  2019  avg_package     9
           students       10
     2020  avg_package    11
           students       12
     2021  avg_package    13
           students       14
     2022  avg_package    15
           students       16
dtype: object

Stacking and Unstacking on a 4d data.

In [36]:
branch_df3.unstack()

          delhi                                             mumbai            \
    avg_package                students                avg_package
           2019 2020 2021 2022     2019 2020 2021 2022        2019 2020 2021
cse           1    3    5    7        2    4    6    8           0    0    0
ece           9   11   13   15       10   12   14   16           0    0    0


         students
    2022     2019 2020 2021 2022
cse    0        0    0    0    0
ece    0        0    0    0    0

In [38]:
branch_df3.unstack().unstack()

delhi   avg_package  2019  cse     1
                           ece     9
                     2020  cse     3
                           ece    11
                     2021  cse     5
                           ece    13
                     2022  cse     7
                           ece    15
        students     2019  cse     2
                           ece    10
                     2020  cse     4
                           ece    12
                     2021  cse     6
                           ece    14
                     2022  cse     8
                           ece    16
mumbai  avg_package  2019  cse     0
                           ece     0
                     2020  cse     0
                           ece     0
                     2021  cse     0
                           ece     0
                     2022  cse     0
                           ece     0
        students     2019  cse     0
                           ece     0
                     2020  cse     0
                           ece     0
                     2021  cse     0
                           ece     0
                     2022  cse     0
                           ece     0
dtype: object

In [41]:
branch_df3.stack().stack()

C:\Users\anike\AppData\Local\Temp\ipykernel_20908\4023844418.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  branch_df3.stack().stack()

cse  2019  avg_package  delhi      1
                        mumbai     0
           students     delhi      2
                        mumbai     0
     2020  avg_package  delhi      3
                        mumbai     0
           students     delhi      4
                        mumbai     0
     2021  avg_package  delhi      5
                        mumbai     0
           students     delhi      6
                        mumbai     0
     2022  avg_package  delhi      7
                        mumbai     0
           students     delhi      8
                        mumbai     0
ece  2019  avg_package  delhi      9
                        mumbai     0
           students     delhi     10
                        mumbai     0
     2020  avg_package  delhi     11
                        mumbai     0
           students     delhi     12
                        mumbai     0
     2021  avg_package  delhi     13
                        mumbai     0
           students     delhi     14
                        mumbai     0
     2022  avg_package  delhi     15
                        mumbai     0
           students     delhi     16
                        mumbai     0
dtype: object

---

## **Working** with multiIndex Dataframe:

In [46]:
#head and tail
print(branch_df3.head(3)) #returns the first 3 rows
print(branch_df3.tail(3)) #returns the last 3 rows

               delhi               mumbai
         avg_package students avg_package students
cse 2019           1        2           0        0
    2020           3        4           0        0
    2021           5        6           0        0
               delhi               mumbai
         avg_package students avg_package students
ece 2020          11       12           0        0
    2021          13       14           0        0
    2022          15       16           0        0

In [47]:
#shape
print(branch_df3.shape) #returns the shape of the dataframe

(8, 4)

In [49]:
#info
print(branch_df3.info()) #returns the information about the dataframe

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 8 entries, ('cse', np.int64(2019)) to ('ece', np.int64(2022))
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   (delhi, avg_package)   8 non-null      object
 1   (delhi, students)      8 non-null      object
 2   (mumbai, avg_package)  8 non-null      object
 3   (mumbai, students)     8 non-null      object
dtypes: object(4)
memory usage: 932.0+ bytes
None

In [51]:
#duplicated
print(branch_df3.duplicated()) #returns a boolean series indicating duplicate rows

cse  2019    False
     2020    False
     2021    False
     2022    False
ece  2019    False
     2020    False
     2021    False
     2022    False
dtype: bool

In [53]:
#isnull
print(branch_df3.isnull()) #returns a boolean dataframe indicating null values

               delhi               mumbai
         avg_package students avg_package students
cse 2019       False    False       False    False
    2020       False    False       False    False
    2021       False    False       False    False
    2022       False    False       False    False
ece 2019       False    False       False    False
    2020       False    False       False    False
    2021       False    False       False    False
    2022       False    False       False    False

---

## **Extracting** Rows and Columns from a **4D** dataframe:

1. Extracting a single row:

In [58]:
branch_df3.loc[('cse',2019)] #Extracting a single row

delhi   avg_package    1
        students       2
mumbai  avg_package    0
        students       0
Name: (cse, 2019), dtype: object

Using iloc:

In [61]:
branch_df3.iloc[0]

delhi   avg_package    1
        students       2
mumbai  avg_package    0
        students       0
Name: (cse, 2019), dtype: object

2. Extracting multiple rows:

In [67]:
branch_df3.loc[('cse',2019):('ece',2019):2]

               delhi               mumbai
         avg_package students avg_package students
cse 2019           1        2           0        0
    2021           5        6           0        0
ece 2019           9       10           0        0

Using iloc:

In [71]:
branch_df3.iloc[0:5:2]

               delhi               mumbai
         avg_package students avg_package students
cse 2019           1        2           0        0
    2021           5        6           0        0
ece 2019           9       10           0        0

3. Extracting a single column:

In [74]:
branch_df3['delhi']

         avg_package students
cse 2019           1        2
    2020           3        4
    2021           5        6
    2022           7        8
ece 2019           9       10
    2020          11       12
    2021          13       14
    2022          15       16

In [75]:
branch_df3['delhi']['students']

cse  2019     2
     2020     4
     2021     6
     2022     8
ece  2019    10
     2020    12
     2021    14
     2022    16
Name: students, dtype: object

4. Extracting **Multiple** Columns:

In [78]:
branch_df3.iloc[:, 1:3]

            delhi      mumbai
         students avg_package
cse 2019        2           0
    2020        4           0
    2021        6           0
    2022        8           0
ece 2019       10           0
    2020       12           0
    2021       14           0
    2022       16           0

5. Extracting **Both** rows and Columns

In [83]:
branch_df3.iloc[[0,4],[1,2]]

            delhi      mumbai
         students avg_package
cse 2019        2           0
ece 2019       10           0

---

## Sorting the **Index** of a multiIndex DataFrame:

In [ ]:
branch_df3.sort_index(ascending=False)

               delhi               mumbai
         avg_package students avg_package students
ece 2022          15       16           0        0
    2021          13       14           0        0
    2020          11       12           0        0
    2019           9       10           0        0
cse 2022           7        8           0        0
    2021           5        6           0        0
    2020           3        4           0        0
    2019           1        2           0        0

In [88]:
branch_df3.sort_index(ascending=[False, True]) #sorts the index in descending order for first level and ascending order for second level

               delhi               mumbai
         avg_package students avg_package students
ece 2019           9       10           0        0
    2020          11       12           0        0
    2021          13       14           0        0
    2022          15       16           0        0
cse 2019           1        2           0        0
    2020           3        4           0        0
    2021           5        6           0        0
    2022           7        8           0        0

In [ ]:
branch_df3.sort_index(level=1, ascending=[False]) ##sorts the index in descending order for second level

               delhi               mumbai
         avg_package students avg_package students
cse 2022           7        8           0        0
ece 2022          15       16           0        0
cse 2021           5        6           0        0
ece 2021          13       14           0        0
cse 2020           3        4           0        0
ece 2020          11       12           0        0
cse 2019           1        2           0        0
ece 2019           9       10           0        0

---

## **Transpose:**

In [95]:
branch_df3.transpose()

                    cse                 ece
                   2019 2020 2021 2022 2019 2020 2021 2022
delhi  avg_package    1    3    5    7    9   11   13   15
       students       2    4    6    8   10   12   14   16
mumbai avg_package    0    0    0    0    0    0    0    0
       students       0    0    0    0    0    0    0    0

---

## **swaplevel:**

In [98]:
branch_df3.swaplevel()

               delhi               mumbai
         avg_package students avg_package students
2019 cse           1        2           0        0
2020 cse           3        4           0        0
2021 cse           5        6           0        0
2022 cse           7        8           0        0
2019 ece           9       10           0        0
2020 ece          11       12           0        0
2021 ece          13       14           0        0
2022 ece          15       16           0        0

In [99]:
branch_df3.swaplevel(axis=1)

         avg_package students avg_package students
               delhi    delhi      mumbai   mumbai
cse 2019           1        2           0        0
    2020           3        4           0        0
    2021           5        6           0        0
    2022           7        8           0        0
ece 2019           9       10           0        0
    2020          11       12           0        0
    2021          13       14           0        0
    2022          15       16           0        0

---

# **Long** vs **Wide** data:

**Wide Format** is where we have a single row for every data point with multiple columns to hold the values of variuos attributes.

**Long Fomat** is where, for each point we have as many rows as the number of attributes and each row conntains the value of a particular attribute for a given point.

### melt:
- converts wide data format to long data format.

In [101]:
pd.DataFrame({'cse':[120]})

   cse
0  120

In [103]:
pd.DataFrame({'cse':[120]}).melt()

  variable  value
0      cse    120

Parameters: 'var_name=' and 'value_name='

In [105]:
pd.DataFrame({'cse':[120],'ece':[100],'mech':[50]})

   cse  ece  mech
0  120  100    50

In [108]:
pd.DataFrame({'cse':[120],'ece':[100],'mech':[50]}).melt(var_name='branch', value_name='students')

  branch  students
0    cse       120
1    ece       100
2   mech        50

Parameter: 'id_vars='

In [111]:
df3= pd.DataFrame(
    {
        'branch': ['cse', 'ece', 'mech'],
        '2020': [120, 100, 50],
        '2021': [130, 110, 60],
        '2022': [140, 120, 70]
    }
)
df3

  branch  2020  2021  2022
0    cse   120   130   140
1    ece   100   110   120
2   mech    50    60    70

In [113]:
df3.melt() #This is unreadable data

   variable value
0    branch   cse
1    branch   ece
2    branch  mech
3      2020   120
4      2020   100
5      2020    50
6      2021   130
7      2021   110
8      2021    60
9      2022   140
10     2022   120
11     2022    70

In [116]:
df3.melt(id_vars='branch',var_name='year', value_name='students') #converts 'branch' to index

  branch  year  students
0    cse  2020       120
1    ece  2020       100
2   mech  2020        50
3    cse  2021       130
4    ece  2021       110
5   mech  2021        60
6    cse  2022       140
7    ece  2022       120
8   mech  2022        70