# What is pandas?
Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on the top of python programming language.

---

## Pandas Series:
A pandas series is like a column in a table. It is a 1-D Array holding data of any type.

---

## Importing Pandas:

In [4]:
import pandas as pd
import numpy as np

---

## Series from list

### Series of String

In [6]:
#1. First create a python list
country=['India','Israel','Russia','America']
#2. Use pd.Series() to convert it into a series
pd.Series(country)

0      India
1     Israel
2     Russia
3    America
dtype: object

### Series of Integers

In [7]:
Runs= [12, 35, 56 ,23, 89, 100]
pd.Series(Runs)

0     12
1     35
2     56
3     23
4     89
5    100
dtype: int64

### Creating Custom index

In [9]:
marks=[89,57, 87, 67, 43]
subjects= ['Maths', 'Chemistry', 'IWD', 'Python', ' Hindi']
pd.Series(marks, index= subjects)

Maths        89
Chemistry    57
IWD          87
Python       67
 Hindi       43
dtype: int64

### Setting a name:

In [11]:
marks= pd.Series(marks, index = subjects, name= "Aniket ke Marks")
marks

Maths        89
Chemistry    57
IWD          87
Python       67
 Hindi       43
Name: Aniket ke Marks, dtype: int64

---

## Series from Dict

In [12]:
marks= {
    'maths': 97,
    'Python': 87,
    'Chemistry': 86,
    'English' : 90
}
marks_series= pd.Series(marks)
marks_series

maths        97
Python       87
Chemistry    86
English      90
dtype: int64

---