# Series methods

## .head(num) and .tail(num):
- returns values upto num(max= 5) indeices from beginning and ending respectively
- Default: num = 5

In [1]:
import numpy as np 
import pandas as pd

In [4]:
df = pd.read_csv('C:/Users/anike/OneDrive/Desktop/Learning Pandas/Datasets/Session-16/subs.csv')
s= df['Subscribers gained']
s.head(2)

0    48
1    57
Name: Subscribers gained, dtype: int64

---

## .sample():
- randomly returns a sample data at an index.

In [5]:
s.sample()

160    113
Name: Subscribers gained, dtype: int64

---

## .value_counts():
- returns the no of occurences of the value in the dataset

In [8]:
df= pd.read_csv('C:/Users/anike/OneDrive/Desktop/Learning Pandas/Datasets/Session-16/bollywood.csv', index_col='movie')
s= df['lead']
s.value_counts()

lead
Akshay Kumar            48
Amitabh Bachchan        45
Ajay Devgn              38
Salman Khan             31
Sanjay Dutt             26
                        ..
Tanishaa Mukerji         1
Tanuja                   1
Ankit                    1
Rakhee Gulzar            1
Geetika Vidya Ohlyan     1
Name: count, Length: 566, dtype: int64

---

## .sort_values():
- returns a copy of series with sorted order of values.
- By default returns in ascending order
- for desending order s.sort_values(ascendning= False)
- for making change in original dataset: s.sort_values(inplace= True)

In [38]:
df= pd.read_csv('C:/Users/anike/OneDrive/Desktop/Learning Pandas/Datasets/Session-16/kohli_ipl.csv', index_col='match_no')
vk= df['runs']
vk.sort_values()

match_no
8        0
87       0
93       0
91       0
206      0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [39]:
vk.sort_values(ascending=False)

match_no
128    113
126    109
123    108
120    100
164    100
      ...
93       0
130      0
206      0
207      0
211      0
Name: runs, Length: 215, dtype: int64

In [ ]:
vk=df['runs'].copy()
vk.sort_values(inplace=True)
vk

match_no
8        0
87       0
93       0
91       0
206      0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

---

#                                    TIP:
- Method Chaining: accesing one method after another is called method chaining
- e.g.

In [40]:
vk.sort_values(ascending=False).head(1).values[0]

np.int64(113)

---

## .sort_index()
- sorts index in alphabetical or ascending order based on the dtype of index
- use inplace = True for making changes into real data set

In [41]:
vk.sort_index(inplace= True, ascending= False)
vk

match_no
215     7
214    25
213    73
212    20
211     0
       ..
5       1
4      12
3      13
2      23
1       1
Name: runs, Length: 215, dtype: int64

---

## .count():
- returns the total no. of values which are not 'nan'

In [42]:
vk.count()

np.int64(215)

---

## .sum() and .product():
- return the sum and product of all alues in the dataset

In [44]:
vk.sum()

np.int64(6634)

In [43]:
vk.product()

np.int64(0)

---

## Statistical methods:

1. .mean():

In [35]:
df= pd.read_csv('C:/Users/anike/OneDrive/Desktop/Learning Pandas/Datasets/Session-16/bollywood.csv', index_col='movie')
s= df['lead']

In [45]:
vk.mean()

np.float64(30.855813953488372)

2. .median():

In [47]:
vk.median()

np.float64(24.0)

3. .mode():

In [48]:
s.mode()

0    Akshay Kumar
Name: lead, dtype: object

In [50]:
print(vk.var()) #for variance
print(vk.std()) #for standard deviation

688.0024777222343
26.22980132830278

---

## max() and min():
- return max and min value from the series.

In [52]:
vk.min() #for minimum value
print(vk.max()) #for maximum value

113

---

## .describe():
- provides a summary of the series.

In [53]:
vk.describe() #for summary statistics

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64

---